* {
  box-sizing: border-box
}

body {
  margin: 0;
  height: 100vh;
  background-color: black;
}

.nav-logo {
  height: 30px;
  margin-right: 7px;
}

nav {
  display: flex;
  align-items: center;
  height: 90px;
  padding: 30px 25px;
  background-color: #21222A;
}

.header, .subheader {
  margin: 0;
}

.header {
  margin-right: auto;
  color: #61DAFB;
  font-weight: 700;
  font-size: 22px;
}

.subheader {
  color: #DEEBF8;
  font-weight: 600;

}

.container {
  padding: 57px 27px;
  color: white;
  background-image: url(./images/logo512-half.png);
  background-repeat: no-repeat;
  background-position: right;
}

.title {
  margin: 0;
  font-size: 39px;
  letter-spacing: -0.05em;
}

.list-group {
  margin-top: 46px;
  max-width: 400px;
}

.list-group > li {
  line-height: 19px;
  padding-block: 10px;
}

.list-group > li::marker{
  font-size: 1.4rem;
  color: #61DAFB;
}



